<h1>Clients Controller for CRUD operations</h1>
<%= link_to 'Add New Client', new_client_path %> |
<%= link_to 'Client Home Page', clients_path %> | 
<%= link_to 'Home Page', home_index_path %>
<h3>Search a Client</h3>

<%= form_tag({controller: "clients", action: "index"}, method: :get) do %>
  <p>
    <%= text_field_tag :search, params[:search], placeholder: "Search with name or email" %>
    <%= submit_tag "Search Clients" %>
  </p>
<% end %>

<h3>Listing of Clients details</h3>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th colspan="3"></th>
  </tr>
 
  <% @clients.each do |client| %>
    <tr>
      <td><%= client.name %></td>
      <td><%= client.email %></td>
      <td><%= link_to 'Show', client_path(client) %></td>
      <td><%= link_to 'Edit', edit_client_path(client) %></td>
      <td><%= link_to 'Destroy', client_path(client),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>