<h1>View for the Home Controller's index action</h1>
<%= button_to "Download CSV", home_index_path(format: :csv) , method: :get%>
<%= button_to "Download PDF", home_index_path(format: :pdf) , method: :get%>
<%= button_to "Send mail", home_sending_mail_path , method: :get%>
<%= button_to "Go to Image Controller", images_path, method: :get%>
<%= button_to "Go the Client's Controller for CRUD operations",  clients_path, method: :get%>

