<%= form_for @image, url: images_path, html: { multipart: true  } do |form| %>
<% if @image.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@image.errors.count, "error") %> 
        prohibited this image from being saved:
      </h2>
      <ul>
        <% @image.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.file_field :avatar, required: true%>
  <%= form.submit %>
<% end %>
</br>
<%= link_to 'Show Images', images_path %>
</br>
<%= link_to 'Go back to Home', root_path %>